* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #7f8081;
}

::placeholder {
  opacity: 0.8;
  font-style: italic;
}

::-ms-input-placeholder {
  opacity: 0.8;
  font-style: italic;
}

:-ms-input-placeholder {
  opacity: 0.8;
  font-style: italic;
}

body {
  background-color: #fff;
  width: 30%;
  border-radius: 5px;
  margin: 100px auto;
  border: 0.5px solid rgb(206, 206, 206);
  box-shadow: 0 0 20px rgba(61, 60, 60, 0.959);
}

.flex-wrapper {
  display: block;
  padding: 10px;
}

h1 {
  border-bottom: 1px solid rgb(224, 224, 224);
  margin: 0;
  padding: 10px;
}

#description-task {
  border: none;
  width: 100%;
  border-bottom: 1px solid rgb(224, 224, 224);
  margin: 0;
  padding: 15px;
}

#description-task:focus {
  outline: none;
}

#add-task-btn {
  padding: 10px;
  margin: 15px auto;
  width: 100px;
  border-radius: 3px;
}

.todo-item {
  display: flex;
  width: 100%;
  border-top: 1px solid rgb(224, 224, 224);
  padding: 25px 0 15px 5px;
  align-items: center;
}

.btn-delete {
  width: 70px;
  border-radius: 3px;
}

.elmar {
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.clear-all {
  padding: 10px;
  text-align: center;
  background-color: rgb(219, 219, 219);
  margin: 10px 0 0 0;
  border-radius: 5px;
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
  color: red;
  background-color: rgb(208, 245, 207);
}

.deletion {
  background-color: rgb(233, 149, 149);
}

.draggable.dragging {
  opacity: 0.2;
}